body {
    font-family: 'Baloo Bhai', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('img/bg.png');
    height: 800px;
}

.left {
    position: absolute;
    left: 60px;
    top: 20px;
    display: inline-block;
    /* border: 2px solid white; */
    height: auto;


}

.left img {
    width: 98px;
    margin: 0px;

}

.left div {
    text-align: center;
    line-height: 0px;
    font-size: 25px;
}

.mid {
    display: block;
    width: 40%;
    margin: 30px auto;
    /* border: 2px solid white; */
    background-color: rgb(214, 136, 237);
    border-radius: 30px;
    position: sticky;
    top: 30px;

}

.right {
    position: absolute;
    right: 34px;
    top: 40px;
    display: inline-block;
    /* border: 2px solid white; */

}

.navbar {
    display: inline-block;

}

.navbar li {
    display: inline-block;
    font-size: 20px;

}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;


}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: rgb(29, 29, 29);
}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: rgb(29, 29, 29);
    color: white;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;

}
.btn:hover{
    background-color: rgb(95, 95, 95);
}

.container {
    border: 2px solid white;
    margin: 100px 40px;
    padding: 61px;
    width: 44%;
    border-radius: 28px;
    display: inline-block;
    box-sizing: border-box;

}
.form-group input{
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 15px auto;
    font-size: 23px;
    border-radius: 8px;
}
.container h1{
    text-align: center;
}
.container  button{
    display: block;
    width: 103%;
    margin: 40px auto;

}
.container img{
    height: 350px;
    width: 550px;
}

