body{
    font-family: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    /* background-color: lightblue; */
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;
}
.logo-container , .nav-links, .cart{
    display: flex;  
}
.logo-container{
    flex: 1;
}

.logo{
    font-weight: 400;
    margin: 5px;
}
nav{
    /* background-color: rgb(189,230,173); */
    flex: 2
}


.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link{
    color: #5f5f79;
    font-size:18px;
    text-decoration: none;
}

.cart{
  /* background-color: rgb(156, 37, 21) ; */
  flex: 1
}

.presentation{
    display: flex;
    width: 90x;
    margin: auto;
    min-height: 80vh;
    align-items: center;
   

}

.introduction{
    flex:1;
}

.intro-text h1{
   font-weight: 500;
   font-size: 44px;
   background: linear-gradient(to right, #494964, #6f6f89);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.intro-text p{
    margin-top: 5px ;
    font-size: 22px;
    color: #585772;
}

button{
    font-family: 'Poppins', sans-serif;
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select{
    border: 2px solid #c36cbb;
    background: transparent;
    color:  #c36cbb;
    width: 150px;
    height: 50px;
    cursor:pointer;
    font-size: 16px;
}

.cta-add{

 background-color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor:pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px 0px 0px 30px;
}

.cover{
    flex: 1;
    display: flex;
    justify-content: center;
  
}
.cover img{
    height: 60vh;
    /* height: 10; */
    filter: drop-shadow(0px 5px 3px black);
    animation: drop 1.5s ease;
}

.big-circle{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}

.mid-circle{
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    opacity: 0.4;
    height: 60%;
}

.small-circle{
    position: absolute;
    bottom: 0px;
    left: 20%;
    z-index: -1;
   
}

.laptop-select{
    width: 15%;
    display: flex;
    justify-content: space-around ;
    position:  absolute;
    right: 20%;
}

@keyframes drop {
    0%{
        opacity: 0;
        transform: translateY(-80px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 1024px) {

     .presentation{
        flex-direction: column;
     }
     .introduction{
        margin-top: 5vh;
        text-align: center;
     }

     .intro-text{
        font-size: 30px;
     }

     .intro-text p{
        font-size: 18px;
     }
     .cta{
        padding: 0px 0px 0px 0px;
     }

     .laptop-select{
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%) ;
     }
     .cover img{
        height: 40vh;
     }

     .small-circle, .mid-circle, .big-circle{
        opacity: 0.2;
     }
}


    @media screen and (max-width: 460px) {

        .nav-links{
            display: block;
        }

        .cta-add{
            margin-left: auto;
        }
    }
