body{
    font-family: 'Montserrat';
}
#title{
    background-color: #ff4c68;
}
.container-fluid{
    padding: 3% 15% 7% ;
}
h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
    color: white;
}
h3{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 1.5rem;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;

}
p{
    color: #8f8f8f;
}
/* Navigation bar */
.navbar{
    padding-bottom: 4.5rem; 
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight:800;
}
/* download buttons */
.Download-button{
    margin:5% 3% 5% 0;
}
/* title image */
 .title-image{
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
     
 }

 /* Feature section */
 #feature{
    padding:7% 15% ;
    background-color: white;
    position: relative;
 }
 .feature-box{
    text-align: center;
    padding: 5% ;
 }
 .icon{
    color: #ef8172;
    margin-bottom:1rem ;
 }
 .icon:hover{
    color: #ff4c68;
 }

 /* Testimonial section */
 #testimonials{
    text-align: center;
    background-color: #ef8172;
    color: white ;
 }
 .carousel-inner{
    padding: 7% 15%;
 }
 .testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
 }
 #press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
 }
 #press img{
    width: 15%;
    margin: 20px 20px 50px;
 }
 /* pricing section */

 #pricing{
    padding: 100px;
 }
 .pricing-column{
    padding: 3% 2%;
 }
 .pricing-content{
    text-align: center;
 }
 #pricing p{
    font-weight: 510;
 }
 @media (max-width:1028px) {
   .title-image{
      transform: rotate(0);
      position: static;
      width: 100%;
   }
   #title{
   text-align: center;
   }
 }
  /* Call to action */
  #cta{
   background-color:#ff4c68;
   color: white;
   text-align: center;
   padding: 7% 15%; 
  }
  #cta h3{
   font-family: 'Montserrat-Black', sans-serif;
   font-size: 3.5rem;
   font-weight: 900;
   line-height: 1.5;
  }
  #footer{
   text-align: center;
   padding: 7% 15%;
  }
  .social-media{
   margin: 20px 10px;
   font-size: 30px;
  }
  #footer p{
   font-weight: bold;
  }
  