body {
    background: #1d1b1b;
}

.container {
    max-width: 400px;
}

input[type="text"],
input[type="text"]:focus {
    color: #fff;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

.todos li {
    background: #ec4d37;
}
.todos li:hover{
    background:rgb(168, 51, 51);

}
.delete {
    cursor: pointer;
}

.filtered {
    display: none !important;
}

.f {
    display: block !important;
}
.completed{
    background:green!important;
    -webkit-transition: background 1s 0s ease-in-out, all 0.5s 0s ease;
    -moz-transition: background 1s 0s ease-in-out, all 0.5s 0s ease;
    -o-transition: background 1s 0s ease-in-out, all 0.5s 0s ease;
    transition: background 1s 0s ease-in-out, all 0.5s 0s ease;
}
